@page "/"
@page "/posts"
@page "/posts/{CurrentPage:int}"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inherits PostListBase

<section id="filter"></section>

@if (PostResults is not null)
{
    @if (PostResults.Any())
    {
        <section id="posts">
            <Virtualize Context="postResult" Items="@PostResults" OverscanCount="5">
                <PostCard Post="@postResult.Post" ReplyCount="@postResult.ReplyCount" />
            </Virtualize>
        </section>
        <section id="pagination">
            <Paginator CurrentPage="@CurrentPage" TotalPages="@TotalPages" Url="post" />
        </section>
    }
    else
    {
        <h4 class="text-center pt-4">
            <em>No posts yet</em>
        </h4>
    }
}
else if (Error is not null)
{
    <div class="alert alert-danger" role="alert">
        @Error
    </div>
}
else
{
    <Loading Message="Loading posts..." />
}
